<!-- <div>

    <div *ngIf="book" class="book-details-container">
        <div class="details-payment-container">
            <div class="main-book-details">
                <h1>Title: {{book.displayName}}</h1>
            </div>
            <div class="payment-info">
                <div><h2>{{book.price | currency}}</h2></div>
                <div><button type="button" (click)="addBookToBasket(book)">Add to basket</button></div>
                <div><button (click)="onBookAddToWishlist(book.id)">Add to wishlist</button></div>
            </div>
        </div>
        <div class="book-details">
            Product details
        </div>
        <div class="often-bought">
            Often bought together
        </div>
    </div>
</div> -->
<div class="xd">


<div class="book-details-container">

    <div class="card-container">
        <div class="f-card-container">
            <div>
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/6482/9781648279171.jpg" alt="">
            </div>
            <div>
                <div>The sapiens brief history of humankind</div>
                <div>Paperback | kuca nesto | English</div>
                <div>By (author) T. Jansky</div>
                <div>
                    Born the crown prince of a prosperous kingdom, Xie Lian was renowned for his beauty, strength, and purity. His years of dedication and noble deeds allowed him to ascend to godhood. But those who rise, can also fall...and fall he does, cast from the Heavens again and again and banished to the mortal realm.
                </div>
            </div>
        </div>

        <div class="s-card-container">
            <div>$ 19,16</div>
            <hr>
            <div>Free Delivery wordlwide</div>
            <div>Price includes VAT/import taxes for EU delivery</div>
            <hr>
            <div>
                <button type="button">Add to basket</button>
            </div>
            <div>
                <button type="button">Add to wishlist</button>
            </div>
        </div>
    </div>

    <div class="product-deatils-container">
        <div>Product details</div>
        <hr>
        <div class="p-d-column-container">
            <div>
                <div>Format: Paperback</div>
                <div>Publication date 14 Dec 2021</div>
                <div>Publisher Seven Seas Entertainment, LLC</div>
                <div>Publication City/Country West Hollywood, United States</div>
            </div>
            <div>
                <div>Language English</div>
                <div>Category: Filozofija</div>
                <div>Author: T. Janksy</div>
            </div>
        </div>
    </div>

    <div class="author-details-container">
        <div>About T. Jansky</div>
        <hr>
        <div>
            Mo Xiang Tong Xiu, also known as MXTX, is an author from China whose three novel series Grandmaster of Demonic Cultivation, Heaven Official's Blessing, and The Scum Villain's Self-Saving System have all been turned into multimedia franchises, driving the huge popularity of the danmei genre throughout China and the world. All three series are available in English from Seven Seas.
        </div>
    </div>

</div>
</div>
