<!-- 
<div class="xd">


<div *ngIf="book" class="book-details-container">

    <div class="card-container">
        <div class="f-card-container has-padding">
            <div class="img-div">
                <img src="{{book.image}}" alt="">
            </div>
            <div class="main-card-right">
                <div><h2>{{book.displayName}}</h2></div>
                <div class="main-details">{{book.format.displayName}}  |  {{book.language}}</div>
                <div class="main-details">By (author) {{book.author.displayName}} - {{book.author.firstName}} {{book.author.lastName}}</div>
                <div class="book-icons-container">
                    <div><i class="fas fa-book-open"></i></div>
                    <div><i class="fas fa-book"></i></div>
                    <div><i class="fas fa-volume-down"></i></div>
                    <div><i class="fas fa-undo-alt"></i></div>
                </div>
                <div class="description-section">
                    {{book.description}}
                </div>
            </div>
        </div>

        <div class="s-card-container has-padding">
            <div class="is-price">{{book.price | currency}}</div>
            <hr>
            <div class="scc-div">
                <i class="far fa-lg fa-paper-plane"></i> 
                <b>Free delivery worldwide</b> 
            </div>
            <div class="scc-div">
                <i class="far fa-lg fa-check-circle"></i> 
                <b>Price includes VAT/import taxes for EU delivery</b> 
            </div>
            <div class="scc-div">
                <i class="far fa-lg fa-times-circle"></i> 
                <b>Not expected to be delivered since it is demo app shop</b> 
            </div>
            <hr>
            <div class="scc-btns-container">
                    <button class="scc-btns basket-btn" type="button" (click)="addBookToBasket(book)">Add to basket</button>
                    <button class="scc-btns wishlist-btn" type="button" (click)="onBookAddToWishlist(book.id)">Add to wishlist</button>
            </div>
            
        </div>
    </div>

    <div class="product-deatils-container has-padding">
        <div class="second-headings">Product details</div>
        <div class="p-d-column-container">
            <div class="first-par-details">
                <div><span class="details-headings">Format:</span> {{book.format.displayName}}</div>
                <div><span class="details-headings">Publication date:</span> 14 Dec 2021</div>
                <div><span class="details-headings">Publisher:</span> {{book.publisher}}</div>
                <div><span class="details-headings">Publication City/Country:</span> {{book.publicationCity}}</div>
            </div>
            <div class="second-par-details">
                <div><span class="details-headings">Language:</span> {{book.language}}</div>
                <div><span class="details-headings">Category:</span> {{book.category.displayName}}</div>
                <div><span class="details-headings">Author:</span> {{book.author.displayName}}</div>
            </div>
        </div>
    </div>

    <div class="author-details-container has-padding">
        <div class="second-headings">About {{book.author.displayName}}</div>
        <div class="author-description">
            {{book.author.description}}
        </div>
    </div>

</div>
</div> -->

<div class="first-row">
    <div class="main-book-details-container">
        <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4071/9781407134611.jpg" alt="">
        <div class="main-book-right">
            <div class="book-title">The Raven Knjiha By Bliss</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div>Paperback | English</div>
            <div>By (author) Tomislav Jansky</div>
            <div class="book-description-div">
                Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde. Lorem ipsum random tekst je ovjde.  
            </div>
        </div>
    </div>

    <div class="price-delivery-info-container">
        <div class="price">$10,25</div>

        <div class="price-info-cont">
            <div class="icon-desc-container">
                <i class="far fa-paper-plane"></i>
                <div><b>Free delivery worldwide</b></div>
            </div>
            <div class="icon-desc-container">
                <i class="far fa-check-circle"></i>
                <div><b>Price includes VAT/import taxes for EU delivery</b></div>
            </div>
            <div class="icon-desc-container">
                <i class="far fa-times-circle"></i>
                <div>Not avaliable. Expected delivery is never because this is demo shop.</div>
            </div>
        </div>
        <div class="price-btn-container">
            <button class="price-btn blue-btn">Add to basket</button>
            <button class="price-btn empty-btn">Add to wishlist</button> 
        </div>
    </div>
</div>

<div class="aditional-book-info-container">
    <div class="info-heading">Product details</div>
    <div class="info-columns-holders">
        <div class="info-column">
            <div><b>Author: </b> Tomislav Jansky</div>
            <div><b>Format: </b> Paperback</div>
            <div><b>Publication date: </b> 24 Sep 2012</div>
            <div><b>Publisher: </b> Scholastic</div>
        </div>
        <div class="info-column">
            <div><b>Publication City/Country: </b> London, United Kingdom</div>
            <div><b>Language: </b> English</div>
            <div><b>Nesto: </b> Smisliti</div>
        </div>
    </div>    
</div>

<div class="author-info-container">
    <div class="info-heading">About Tomislav Jansky</div>
    <div class="author-description">
        Maggie Stiefvater, geb. im November 1981 in Virginia, verlebte eine nach eigenen Worten sehr chaotische aber sehr kreative und musisch geprägte Kindheit und Jugend. Nach dem College versuchte sie u.a. als Kellnerin, Zeichenlehrerin beruflich Fuß zu fassen. Doch sehr bald schon meldeten sich ihre kreativen Talente und verlangten, ausgelebt zu werden zunächst als Musikerin und Songwriterin, dann zunehmend als bildende Künstlerin. Für ihre künstlerischen Arbeiten wurde sie inzwischen mit einigen wichtigen Preisen ausgezeichnet. Seit 2007 hat sich Stiefvater aufs Schreiben konzentriert und zählt inzwischen zu den erfolgreichsten Autorinnen der Romantasy.
    </div>
</div>