<div class="orders-main">
    <div class="orders-container-first">
        <div class="history-orders">Order History</div>
        <!-- <div class="show-info">Showing 2 orders</div> -->
    </div>
    
    <div class="order-cards-container">
    
        <div class="order-card">
            <div class="order-heading">
                <div class="order-title">Order number BDU-445-23198972615</div>
                <div class="order-heading-details">
                    <div class="order-info-head">Placed on <b>October 16, 2021</b></div>
                    <div>
                        <div class="order-info-head"><b>Deliver to:</b></div>
                        <div class="order-info-head">Tomislav Jansky, Kolodvorska 78, Lipovljani, 44322, Croatia</div>
                    </div>
                    <div class="order-info-head"><b>Order status:</b> <span class="order-status-text">Payment recieved</span></div>
                </div>
            </div>
            <div class="order-body">
    
                <div class="product-card">
                    <div class="product-top">
                        <div class="product-top-left">
                            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/0919/9780091929114.jpg"
                                alt="">
                            <div>
                                <div class="product-title">The 4-Hour Work Week</div>
                                <div class="start-container">
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star-half-alt"></i>
                                    <i class="star far fa-star"></i>
                                </div>
                                <div class="product-detail">Timothy Ferriss</div>
                                <div class="product-detail">Paperback</div>
                                <div class="product-detail">Quantity: 1</div>
                                <div class="product-price">$20,50</div>
                            </div>
                        </div>
                        <div class="product-status">
                            Shipped
                        </div>
                    </div>
    
                </div>
    
                <div class="product-bot">
                    <div class="product-bot-first">
                        <div>Delivery:</div>
                        <div>Free delivery</div>
                    </div>
                    <div class="product-bot-second">
                        <div> Total order value:</div>
                        <div>$15,65</div>
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="order-card">
            <div class="order-heading">
                <div class="order-title">Order number BDU-445-23198972615</div>
                <div class="order-heading-details">
                    <div class="order-info-head">Placed on <b>October 16, 2021</b></div>
                    <div>
                        <div class="order-info-head"><b>Deliver to:</b></div>
                        <div class="order-info-head">Tomislav Jansky, Kolodvorska 78, Lipovljani, 44322, Croatia</div>
                    </div>
                    <div class="order-info-head"><b>Order status:</b> <span class="order-status-text">Payment recieved</span></div>
                </div>
            </div>
            <div class="order-body">
    
                <div class="product-card">
                    <div class="product-top">
                        <div class="product-top-left">
                            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/1413/9780141393063.jpg"
                                alt="">
                            <div>
                                <div class="product-title">The 4-Hour Work Week</div>
                                <div class="start-container">
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star-half-alt"></i>
                                    <i class="star far fa-star"></i>
                                </div>
                                <div class="product-detail">Timothy Ferriss</div>
                                <div class="product-detail">Paperback</div>
                                <div class="product-detail">Quantity: 1</div>
                                <div class="product-price">$20,50</div>
                            </div>
                        </div>
                        <div class="product-status">
                            Shipped
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-top">
                        <div class="product-top-left">
                            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/0919/9780091929114.jpg"
                                alt="">
                            <div>
                                <div class="product-title">The 4-Hour Work Week</div>
                                <div class="start-container">
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star-half-alt"></i>
                                    <i class="star far fa-star"></i>
                                </div>
                                <div class="product-detail">Timothy Ferriss</div>
                                <div class="product-detail">Paperback</div>
                                <div class="product-detail">Quantity: 1</div>
                                <div class="product-price">$20,50</div>
                            </div>
                        </div>
                        <div class="product-status">
                            Shipped
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-top">
                        <div class="product-top-left">
                            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/1410/9780141042701.jpg"
                                alt="">
                            <div>
                                <div class="product-title">The 4-Hour Work Week</div>
                                <div class="start-container">
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star"></i>
                                    <i class="star fas fa-star-half-alt"></i>
                                    <i class="star far fa-star"></i>
                                </div>
                                <div class="product-detail">Timothy Ferriss</div>
                                <div class="product-detail">Paperback</div>
                                <div class="product-detail">Quantity: 1</div>
                                <div class="product-price">$20,50</div>
                            </div>
                        </div>
                        <div class="product-status">
                            Shipped
                        </div>
                    </div>
                </div>
    
                <div class="product-bot">
                    <div class="product-bot-first">
                        <div>Delivery:</div>
                        <div>Free delivery</div>
                    </div>
                    <div class="product-bot-second">
                        <div> Total order value:</div>
                        <div>$15,65</div>
                    </div>
                </div>
    
            </div>
        </div>
    
    
    </div>
</div>
