<!-- 
<div class="basket-heading">
    Your basket
</div>

<div *ngIf="(basket$ | async) as basket">

    <div class="basket-info">
        <div class="basket-info-text">
            <i class="fas fa-shopping-basket"></i> You have 2 items for a total of <b>{{(basketTotal$ | async) | currency}}</b> in your basket.
        </div>
        <div class="basket-info-btn-con">
            <button type="button" class="checkout-btn">Checkout</button>
        </div>
    </div>

    <div class="basket-card-container">
        <div *ngFor="let item of basket.items">
            <app-book-summary [basketItem]="item"></app-book-summary>
        </div>
    </div>
    
    <div class="basket-footer">
        <div class="row-conatiner">
            <div class="delivery-row">
                <div>Delivery cost</div>
                <div>FREE</div>
            </div>
            <div class="total-row">
                <div>Total</div>
                <div>{{(basketTotal$ | async) | currency}}</div>
            </div>
            <div class="button-row">
                <button (click)="onCheckoutClick()" class="checkout-btn" type="button">Checkout</button>
            </div>
        </div>
    </div>

</div>


<div class="no-basket-info" *ngIf="(basket$ | async) === null">
    <div>There are no items in your basket.</div>
    <div><button routerLink="/shop" type="button" class="con-shop-btn">Continue shopping</button></div>
</div>

 -->


 <div class="basket-heading">Your Basket</div>

                <div class="basket-sections-holder">
                    <div class="basket-info-section">
                        <div class="heading-para"><i class="fas fa-shopping-basket"></i> You have 2 items for a total of <b>$40,00</b> in your basket.</div>
                        <button class="blue-btn checkout-btn">Checkout</button>
                    </div>
                    
                    <div class="basket-items-section">
                        <div class="basket-heading-deatils">Shopping basket details</div>
                        <div>

                            <div class="basket-item">
                                <div class="basket-item-left">
                                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/2414/9780241425428.jpg" alt="">
                                    <div>
                                        <div class="basket-item-title">The Raven Boys</div>
                                        <div class="basket-starts start-container">
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star-half-alt"></i>
                                            <i class="star far fa-star"></i>
                                        </div>
                                        <div>Paperback, English <span>|</span> Tomislav Jansky</div>
                                        <div class="basket-item-price">$8,85</div>
                                        <div>Currenly not avaliable because this is demo e-commerce project.</div>
                                    </div>
                                </div>
                                <div class="basket-item-right">
                                    <div class="amount-container">
                                        <button class="empty-btn inc-dec-btn">
                                            <i class="fas fa-minus"></i>
                                        </button> 
                                        <span class="item-amount">2</span>
                                        <button class="empty-btn inc-dec-btn">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="basket-item-total-price">$24,20</div>
                                    <button class="remove-btn empty-btn">Remove</button>
                                </div>
                            </div>
                            <div class="basket-item">
                                <div class="basket-item-left">
                                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="">
                                    <div>
                                        <div class="basket-item-title">The Raven Boys</div>
                                        <div class="basket-starts start-container">
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star-half-alt"></i>
                                            <i class="star far fa-star"></i>
                                        </div>
                                        <div>Paperback, English <span>|</span> Tomislav Jansky</div>
                                        <div class="basket-item-price">$8,85</div>
                                        <div>Currenly not avaliable because this is demo e-commerce project.</div>
                                    </div>
                                </div>
                                <div class="basket-item-right">
                                    <div class="amount-container">
                                        <button class="empty-btn inc-dec-btn">
                                            <i class="fas fa-minus"></i>
                                        </button> 
                                        <span class="item-amount">2</span>
                                        <button class="empty-btn inc-dec-btn">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="basket-item-total-price">$24,20</div>
                                    <button class="remove-btn empty-btn">Remove</button>
                                </div>
                            </div>
                            <div class="basket-item">
                                <div class="basket-item-left">
                                    <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4746/9781474622578.jpg" alt="">
                                    <div>
                                        <div class="basket-item-title">The Raven Boys</div>
                                        <div class="basket-starts start-container">
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star"></i>
                                            <i class="star fas fa-star-half-alt"></i>
                                            <i class="star far fa-star"></i>
                                        </div>
                                        <div>Paperback, English <span>|</span> Tomislav Jansky</div>
                                        <div class="basket-item-price">$8,85</div>
                                        <div>Currenly not avaliable because this is demo e-commerce project.</div>
                                    </div>
                                </div>
                                <div class="basket-item-right">
                                    <div class="amount-container">
                                        <button class="empty-btn inc-dec-btn">
                                            <i class="fas fa-minus"></i>
                                        </button> 
                                        <span class="item-amount">2</span>
                                        <button class="empty-btn inc-dec-btn">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="basket-item-total-price">$24,20</div>
                                    <button class="remove-btn empty-btn">Remove</button>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>

                    <div class="basket-checkout-section">
                        <div class="basket-checkout-section-top">
                            <div>Delivery cost</div>
                            <div>FREE</div>
                        </div>
                        <div class="basket-checkout-section-bot">
                            <div>Total</div>
                            <div>$25,50</div>
                        </div>
                        
                        <button class="blue-btn checkout-btn">Checkout</button>
                    </div>
                </div>