/* .book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 147px;
} */

/* .book-card{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 400px;
    background-color: white;
}

.add-btn{
    margin-top: auto;
    background-color: #10bbd5;
    color: #fff;
    text-align: center;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    border: none;
    width: 100%;
    height: 27px;
}

.add-btn:hover{
    background-color: #29d5ef;
}

.title{
    margin-top: 5px;
    font-weight: 600;
    font-size: 17.5px;
    cursor: pointer;
    min-height: 40px;
}

.title:hover{
    text-decoration: underline;
}

.author{
    margin-top: 5px;
    color: #393841;
}

.author span{
    font-size: 18px;
    text-decoration: underline gray;
}

.format{
    margin-top: 4px;
    color: gray;
    font-size: 18px;
}

.price{
    margin-top: 11px;
    color: #ff0072;
    font-size: 21px;
    font-weight: 500;
}

img{
    cursor: pointer;
} */


:host{
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 13px;
}

.book-card img{
    /* width: 92px;
    height: 139px; */
    width: 130px;
    cursor: pointer;
}

.book-title{
    margin-top: 4px;
    font-size: 15.5px;
    min-height: 40px;
    width: 100%;
}

.book-title:hover{
    cursor: pointer;
    text-decoration: underline;
}

.book-price{
    color: #ff0072;
    font-size: 18px;
}

.add-basket-btn{
    margin-top: 7px;
    height: 28px;
    width: 95%;
}