<!-- <div class="book-card">
    <div routerLink="/shop/{{book.id}}"><img src="{{book.image}}"></div>
    <div routerLink="/shop/{{book.id}}">{{book.displayName}}</div>
    <div>{{book.author.displayName}}</div>
    <div>{{book.format.displayName}}</div>
    <div>{{book.price}}</div>
    <div><button type="button" (click)="onAddInBasket(book)">Add to basket</button></div>
</div> -->

<!-- <div class="book-card">
    <img routerLink="/shop/{{book.id}}" src="{{book.image}}" alt="">
    <div routerLink="/shop/{{book.id}}" class="title">{{book.displayName}}</div>
    <div class="author"><span>{{book.author.displayName}}</span></div>
    <div class="format">{{book.format.displayName}}</div>
    <div class="price">{{book.price | currency}}</div>
    <button (click)="onAddInBasket(book)" class="add-btn" type="button">Add to basket</button>
</div> -->


<img routerLink="/shop/{{book.id}}" src="{{book.image}}" alt="test">
<b routerLink="/shop/{{book.id}}" class="book-title">{{book.displayName}}</b>
<div>{{book.author.displayName}}</div>
<div class="start-container">
    <app-stars [bookRating]="book.stars"></app-stars>
</div>
<div class="book-price">{{book.price | currency}}</div>
<button (click)="onAddInBasket(book)" type="button" class="add-basket-btn blue-btn">Add to basket</button>