<div class="footer">
    <div class="footer-section">
        <div class="footer-titles">Explore</div>
        <div class="link-container">
            <div>About us</div>
            <div>Sitemap</div>
            <div>Bookmarks</div>
            <div>Signout</div>
        </div>
    </div>

    <div class="footer-section">
        <div class="footer-titles">How can we help?</div>
        <div class="link-container">
            <div>Help</div>
            <div>Contact us</div>
            <div>Where's my stuff?</div>
            <div>Where do you deliver?</div>
        </div>
    </div>

    <div class="footer-section">
        <div class="footer-titles">Join us</div>
        <div class="link-container">
            <div>Affiliates</div>
            <div>Jobs</div>
            <div>Blog</div>
            <div>Careers</div>
        </div>
    </div>

    <div class="footer-section">
        <div class="footer-titles">Important stuff</div>
        <div class="link-container">
            <div>Cookies</div>
            <div>Privacy policy</div>
            <div>Terms & Conditions</div>
            <div>UK Modern Slavery Statement</div>
        </div>
    </div>

    <div class="cards-footer-section footer-section">
        <div>We accept these payment methods</div>
        <div><img src="https://d3ogvdx946i4sr.cloudfront.net/assets/v2.25.12/img/payment-options.png" alt="Payment cards"></div>
        <div>@ 2021 Demo aplication book shop</div>
    </div>
</div>
