<div class="checkout-container">
    <div class="payment-container">
        <form [formGroup]="checkoutDetailsForm" (ngSubmit)="onSubmitDetails()">
            <div class="payment-title">Please fill in your details for this order</div>
            <div class="input-label-container">
                <label>Full name*</label>
                <input formControlName="fullName" type="text">
                <div *ngIf="checkoutDetailsForm.get('fullName').hasError('required') &&
                            checkoutDetailsForm.get('fullName').touched">
                    Please enter a first and last name
                </div>
            </div>
            <div class="input-label-container">
                <label>Address*</label>
                <input formControlName="address" type="text">
                <div *ngIf="checkoutDetailsForm.get('address').hasError('required') &&
                            checkoutDetailsForm.get('address').touched">
                    Please enter your address
                </div>
            </div>
            <div class="input-label-container">
                <label>Town/city*</label>
                <input formControlName="town" type="text">
                <div *ngIf="checkoutDetailsForm.get('town').hasError('required') &&
                            checkoutDetailsForm.get('town').touched">
                    Please enter your town/city
                </div>
            </div>
            <div class="input-label-container">
                <label>County/state</label>
                <input formControlName="state" type="text">
            </div>
            <div class="input-label-container">
                <label>Postcode/ZIP*</label>
                <input formControlName="postcode" type="text">
                <div *ngIf="checkoutDetailsForm.get('postcode').hasError('required') &&
                            checkoutDetailsForm.get('postcode').touched">
                    Please enter your postcode/ZIP or write 'No Postcode'
                </div>
            </div>
            <div class="input-label-container">
                <label>Phone number*</label>
                <input formControlName="phone" type="text">
                <div *ngIf="checkoutDetailsForm.get('phone').hasError('required') &&
                            checkoutDetailsForm.get('phone').touched">
                    Please enter your phone number
                </div>
            </div>
            <br>
            <button
                [class.disabled-button]="checkoutDetailsForm.invalid || detailsSubmited" 
                [disabled]="checkoutDetailsForm.invalid || detailsSubmited" class="blue-btn checkout-btns" type="submit">Continue to payment</button>
        </form>

        <hr>

        <div>
            <h3>Payment</h3>
            <form [formGroup]="checkoutForm">
                <div>
                    <label>Name on Card*</label>
                    <input formControlName="nameOnCard" type="text">
                </div>
                <div>
                    <div #cardNumber></div>
                    <ng-container *ngIf="cardErrors">
                        <span>{{cardErrors}}</span>
                    </ng-container>
                </div>
                <div>
                    <div #cardExpiry></div>
                </div>

                <div>
                    <div #cardCvc></div>
                </div>
                <br>
                <button 
                [class.disabled-button]="!detailsSubmited" 
                [disabled]="!detailsSubmited" class="blue-btn checkout-btns"
                    class="blue-btn checkout-btns" (click)="onPayment()">Buy now</button>
            </form>
        </div>
    </div>

    <div class="basket-info">
        <div class="basket-info-heading">
            <div class="order-heading">Order Summary</div>
            <div class="items-count-container">
                <div> <i class="fas fa-shopping-basket basket-icon"></i> 2 items</div> 
                <div>{{basketTotal$ | async | currency}}</div>
            </div>
        </div>
        <div *ngFor="let item of basket.items" class="row-book">
            <div class="row-book-first">{{item.title}} x{{item.quantity}}</div>
            <div class="row-book-second">{{(item.price*item.quantity) | currency}}</div>
        </div>

        <div class="row-book">
            <div class="row-book-first bold">Delivery</div>
            <div class="row-book-second">FREE</div>
        </div>
        <div class="row-book">
            <div class="row-book-first bold">Total</div>
            <div class="row-book-second total-amount">{{basketTotal$ | async | currency}}</div>
        </div>
        
    </div>
</div>