<!-- nav part 1 -->
<div class="container-nav-1">
    <div class="nav">
        <div class="nav-first">
            <i class="fas fa-lg fa-times hamburger-close"></i>
            <div class="nav-first-1">
                <div routerLink="/shop"><i class="nav-icon fas fa-home"></i> Homepage</div>
                <div><i class="nav-icon far fa-envelope"></i> Contact us</div>
            </div>
            <div class="nav-first-2">
                <img src="./../../../assets/Navbar_sredina.JPG" alt="">
            </div>
            <div class="nav-first-3">
                <div routerLink="/orders"><i class="nav-icon far fa-compass"></i> Order Status</div>
                <div routerLink="/wishlist"><i class="nav-icon far fa-heart"></i> Wishlist</div>
                <div *ngIf="loggedUser" (click)="onSignOut()">Sign Out</div>
                <div *ngIf="loggedUser == null" (click)="onSignIn()">Sign in/Join</div>
            </div>
        </div>
    </div>
</div>
    <!-- end nav part 1 -->


    <!-- nav part 2 -->
<div class="container-nav-2">
    <div class="nav">
        <div class="nav-second">

            <i class="hamburger fas fa-bars fa-lg"></i>

            <div class="nav-second-1">
                <i style="color: #00bdd7;" class="fas fa-book fa-3x"></i>
                <div>
                    <div>Demo</div>
                    <div>Bookshop</div>
                </div>
            </div>

            <div class="nav-second-2">
                <input #search (keyup.enter)="onSearchClick()" class="search-book-input" type="text" placeholder="Search book by title or author">
                <button (click)="onSearchClick()" class="blue-btn search-btn">Search</button>
                <button (click)="onSearchClick()" class="blue-btn search-btn-icon"><i class="fas fa-search"></i></button>
            </div>

            <div class="nav-second-3">
                <div class="basket-part-first">$0,00</div>
                <div class="basket-divider">|</div>
                <div routerLink="/basket" class="basket-part-second">
                    <div>{{(basket$ | async)?.items?.length ? (basket$ | async)?.items?.length : 0}}</div>
                    <i class="fas fa-shopping-basket basket-icon"></i>
                </div>
            </div>
            
            <div class="basket-anchor">
                <div routerLink="/basket" class="nav-second-3-mobile">
                    <div class="number-items">{{(basket$ | async)?.items?.length ? (basket$ | async)?.items?.length : 0}}</div>
                    <i class="fas fa-shopping-basket fa-lg basket-mobile-icon"></i>
                </div>
            </div>
            
        </div>
    </div>
</div>
    <!-- end nav part 2 -->

