<div class="navbar">
    <div class="first-part">
        <div routerLink="/shop">Home logo</div>
        <div *ngIf="loggedUser">Hello {{loggedUser.firstName}}</div>
        <div>Order Status</div>
        <div>Wishlist</div>
        
        <div routerLink="/basket">Go To Basket</div>

        <div *ngIf="loggedUser" (click)="onSignOut()">Sign out</div>
        <div *ngIf="loggedUser == null" (click)="onSignIn()">Sign in/Join</div>
    </div>
    <div class="second-part">
        <div routerLink="/shop">
            Logo veliki
        </div>
        <div>
            <input #search (keyup.enter)="onSearchClick()" type="text" placeholder="Search for books by title or author">
            <button (click)="onSearchClick()">Search</button>
        </div>
        <div>

        </div>
    </div>
</div>
