.navbar{
    height: 70px;
    background-color: #4c394e;
    color: white;
}

.first-part{
    background-color: #403042;
    display: flex;
    flex-direction: row;
    gap: 30px;
    min-height: 20px;
}

.second-part{
    display: flex;
    gap: 100px;
}