<!-- <div class="navbar">
    <div class="first-part">
        <div routerLink="/shop">Home logo</div>
        <div *ngIf="loggedUser">Hello {{loggedUser.firstName}}</div>
        <div>Order Status</div>
        <div>Wishlist</div>
        
        <div routerLink="/basket">Go To Basket</div>

        <div *ngIf="loggedUser" (click)="onSignOut()">Sign out</div>
        <div *ngIf="loggedUser == null" (click)="onSignIn()">Sign in/Join</div>
    </div>
    <div class="second-part">
        <div routerLink="/shop">
            Logo veliki
        </div>
        <div>
            <input #search (keyup.enter)="onSearchClick()" type="text" placeholder="Search for books by title or author">
            <button (click)="onSearchClick()">Search</button>
        </div>
        <div>

        </div>
    </div>
</div> -->


<div class="first-navbar-section">
    <div class="fns-first">
        <div><i class="fas fa-home"></i> Homepage</div>
        <div><i class="far fa-envelope"></i> Contact us</div>
        <!-- <div><i class="far fa-question-circle"></i> Help</div>  -->
    </div>
    <div><img class="nav-image" src="../../../assets/DailyDeals_NOV_1112x110.jpg" alt=""></div>
    <div class="fns-third">
        <div></div>
        <div><i class="far fa-compass"></i> Order Status</div>
        <div><i class="far fa-heart"></i> Wishlist</div>
        <div>Sign Out</div>
        <!-- <div>Sign in/Join</div> -->
    </div>
</div>


<div class="second-navbar-section">
    <div class="hamburger"><i class="fas fa-bars fa-2x"></i></div>
    <div class="navbar-main-logo">
        <i style="color: #00bdd7;" class="fas fa-book fa-3x"></i>
        <div>
            <div>Demo</div>
            <div>Bookshop</div>
        </div>
    </div>
    <div class="sns-second">
        <!-- Search.. -->
        <div class="navbar-search-conatiner">
            <i class="fas fa-search"></i>
            <input placeholder="Search for books by title or author" type="text">
        </div>
        <div>
            <button class="button-search">
                <span class="search-string">Search</span>
                <span class="search-icon"><i class="fas fa-search"></i></span>
            </button>
        </div>
    </div>
    <div class="basket-container">
        <div>2</div>
        <i class="fas fa-shopping-basket fa-lg"></i>
    </div>
</div>

<div class="third-navbar-section">
    <i class="fas fa-shopping-cart"></i>
</div>
