<div class="bs-container">
    <div class="bs-first">
        <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/0605/9780060555665.jpg" alt="">
        <div class="bs-info">
            <div class="title">The Intelligent Investor</div>
            <div class="subtitle">Paperback, English | Benjamin Graham</div>
            <div class="info-price">17,15 $</div>
            <div class="info-avaliable">Available. Expected delivery to Croatia in 16-21 business days.</div>
        </div>
    </div>

    <div class="bs-second">
        <div class="quantity-container">
            <button><i class="fas fa-minus"></i></button>
            <div>1</div>
            <button><i class="fas fa-plus"></i></button>
        </div>
        <div class="main-price">
            17,15 $
        </div>
        <div>
            <button class="remove-button">Remove</button>
        </div>
    </div>
</div>
