<div class="bs-container">
    <div class="bs-first">
        <img src="{{basketItem.image}}" alt="">
        <div class="bs-info">
            <div class="title">{{basketItem.title}}</div>
            <div class="subtitle">Paperback, English | Benjamin Author</div>
            <div class="info-price">{{basketItem.price | currency}}</div>
            <div class="info-avaliable">Available. Expected delivery to Croatia in 16-21 business days.</div>
        </div>
    </div>

    <div class="bs-second">
        <div class="quantity-container">
            <button type="button" (click)="decrementItemQuantity()"><i class="fas fa-minus"></i></button>
            <div>{{basketItem.quantity}}</div>
            <button type="button" (click)="incrementItemQuantity()"><i class="fas fa-plus"></i></button>
        </div>
        <div class="main-price">
            {{basketItem.quantity * basketItem.price | currency}}
        </div>
        <div>
            <button (click)="removeBasketItem()" class="remove-button">Remove</button>
        </div>
    </div>
</div>
