<!-- <div class="bs-container">
    <div class="bs-first">
        <img src="{{basketItem.image}}" alt="">
        <div class="bs-info">
            <div class="title">{{basketItem.title}}</div>
            <div class="subtitle">Paperback, English | Benjamin Author</div>
            <div class="info-price">{{basketItem.price | currency}}</div>
            <div class="info-avaliable">Available. But do not expected delivery because this is demo shop :).</div>
        </div>
    </div>

    <div class="bs-second">
        <div class="quantity-container">
            <button type="button" (click)="decrementItemQuantity()"><i class="fas fa-minus"></i></button>
            <div>{{basketItem.quantity}}</div>
            <button type="button" (click)="incrementItemQuantity()"><i class="fas fa-plus"></i></button>
        </div>
        <div class="main-price">
            {{basketItem.quantity * basketItem.price | currency}}
        </div>
        <div>
            <button (click)="removeBasketItem()" class="remove-button">Remove</button>
        </div>
    </div>
</div> -->

<div class="basket-item-left">
    <img src="{{basketItem.image}}" alt="">
    <div>
        <div class="basket-item-title">{{basketItem.title}}</div>
        <div class="basket-starts start-container">
            <i class="star fas fa-star"></i>
            <i class="star fas fa-star"></i>
            <i class="star fas fa-star"></i>
            <i class="star fas fa-star-half-alt"></i>
            <i class="star far fa-star"></i>
        </div>
        <div>DODPaperback, DODEnglish <span>|</span> DODTomislav Jansky</div>
        <div class="basket-item-price">{{basketItem.price | currency}}</div>
        <div>Currenly not avaliable because this is demo e-commerce project.</div>
    </div>
</div>
<div class="basket-item-right">
    <div class="amount-container">
        <button (click)="decrementItemQuantity()" type="button" class="empty-btn inc-dec-btn">
            <i class="fas fa-minus"></i>
        </button>
        <span class="item-amount">{{basketItem.quantity}}</span>
        <button type="button" (click)="incrementItemQuantity()" class="empty-btn inc-dec-btn">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="basket-item-total-price">{{basketItem.quantity * basketItem.price | currency}}</div>
    <button type="button" (click)="removeBasketItem()" class="remove-btn empty-btn">Remove</button>
</div>
