<!-- <div class="pagination">

    <button type="button" class="square" (click)="onSquareClick(currentPage-1)" [disabled]="currentPage <= 1">Previuos</button>

    <div class="square-container">
        <button
            class="square"
            [ngClass]="{'active-square' : currentPage==s}"
            *ngFor="let s of firstSquareList"
            (click)="onSquareClick(s)"
            type="button"
        >{{s}}</button>
    </div>

    <div *ngIf="leftDots">---</div>

    <div class="square-container">
        <button
            class="square"
            [ngClass]="{'active-square' : currentPage==s}"
            *ngFor="let s of middleSquareList"
            (click)="onSquareClick(s)"
            type="button"
            >{{s}}</button>
    </div>

    <div *ngIf="rightDots">---</div>

    <div class="square-container">
        <button 
            class="square"
            [ngClass]="{'active-square' : currentPage==s}"
            *ngFor="let s of lastSquareList"
            (click)="onSquareClick(s)"
            type="button"
        >{{s}}</button>
    </div>

    <button type="button" class="square" (click)="onSquareClick(currentPage+1)" [disabled]="currentPage >= totalCount">Next</button>
</div> -->




<span class="pag-box"><i class="pag-icon fas fa-angle-double-left"></i></span>
<span (click)="onSquareClick(box)" *ngFor="let box of currentBoxes" [ngClass]="{'active-box' : currentPage==box}" class="pag-box">{{box}}</span>
<!-- <span class="pag-box">1</span>
<span class="active-box pag-box">2</span>
<span class="pag-box">3</span>
<span class="pag-box">4</span>
<span class="pag-box">5</span> -->
<span class="pag-box"><i class="pag-icon fas fa-angle-double-right"></i></span>