
<button 
    type="button" 
    (click)="onSquareClick(currentPage-1)" 
    [ngClass]="{'pag-inactive' : currentPage <= 1}" 
    [disabled]="currentPage <= 1" 
    class="pag-square">
        <i class="pag-icon fas fa-angle-double-left"></i>
</button>

<div (click)="onSquareClick(box)" *ngFor="let box of currentBoxes" [ngClass]="{'active-box' : currentPage==box}" class="pag-square">
    {{box}}
</div>

<button 
    type="button" 
    (click)="onSquareClick(currentPage+1)" 
    [ngClass]="{'pag-inactive' : currentPage >= totalCount}" 
    [disabled]="currentPage >= totalCount" 
    class="pag-square">
        <i class="pag-icon fas fa-angle-double-right"></i>
</button>