
:host{
    display: flex;
    justify-content: center;
}

.pag-icon{
    font-weight: 300;
    font-size: 12.5px;
}

.pag-square{
    border: 1px solid #ddd;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 4px;
    padding-left: 9px;
    font-size: 14.5px;
    color: rgb(63, 63, 63);
    cursor: pointer;
    background-color: #ffffff;
}

.pag-square:hover{
    background-color: #f0f0f0;
}

.active-box{
    color: #fff !important;
    background-color: #10bbd5 !important;
}

.pag-inactive{
    background-color: #f0f0f0;
    cursor: unset;
}
