<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-register-heading">Sign-In</div>
    <div>
        <div routerLink="/account/register" class="register-info">Register new user?</div>
        <div>
            <input class="login-register-input" formControlName="email" type="text" placeholder="Your email address">
            <input class="login-register-input" formControlName="password" type="password" placeholder="Demo Book password">
        </div>
    </div>
    <div>
        <button type="submit" class="blue-btn action-btn">Log in</button>
        <div class="error-info" *ngIf="error">User with given credentials was not found</div>
        <div class="skip-container">
            <div class="skip-registration-info">Skip user registration.</div>
            <button (click)="onLogAsTest()" type="button" class="login-as-btn action-btn">Log in as <span>Test_User</span></button>
        </div>
        
    </div>
</form>
