<!-- 
<div class="shop-container">

    <div class="filter-container">
        <div class="filter-section">
            <div class="filter-title">Formats</div>
            <div *ngFor="let format of formats">
                <div (click)="onFormatSelected(format.id)">
                    {{format.displayName}}
                </div>
            </div>
        </div>
        
        <div class="filter-section">
            <div class="filter-title">Categories</div>
            <div *ngFor="let category of categories">
                <div (click)="onCategorySelected(category.id)">
                    {{category.displayName}}
                </div>
            </div>
        </div>
        
        <div class="filter-section">
            <div class="filter-title">Top Authors</div>
            <div *ngFor="let author of topAuthors">
                <div (click)="onTopAuthorSelected(author.id)">
                    {{author.displayName}}
                </div>
            </div>
        </div>

        <button (click)="onFilterReset()" type="button" class="reset-filter">Reset filters XDDD</button>
    </div>

    
    
    <div class="wrraper-cards">

        <div>
            <app-book-pagination *ngIf="pagination"
            (newSquareClicked)="onPaginationClick($event)" 
            [currentPage]="pagination.currentPage" 
            [totalCount]="pagination.totalPages" 
            [pageSize]="pagination.pageSize">
            </app-book-pagination>
        </div>



        <div class="book-cards-container">
            <div *ngFor="let book of books">
                <app-book-card [book]="book"></app-book-card>
            </div>
        </div>

        <div>
            <app-book-pagination *ngIf="pagination"
            (newSquareClicked)="onPaginationClick($event)" 
            [currentPage]="pagination.currentPage" 
            [totalCount]="pagination.totalPages" 
            [pageSize]="pagination.pageSize">
            </app-book-pagination>
        </div>

    </div>
    
    
</div> -->

<div class="filters-section">
    <div class="filter-section-part">
        <div class="filter-title">Popular Authors</div>
        <div class="filter-item">Tjansky Hamlet</div>
        <div class="active-filter-item filter-item">Ivana Divic</div>
        <div class="filter-item">Tjansky Hamlet</div>
        <div class="filter-item">Tjansky Helena H.</div>
    </div>

    <div class="filter-section-part">
        <div class="filter-title">Categories</div>
        <div class="active-filter-item filter-item">Filozofija</div>
        <div class="filter-item">Astronomija</div>
        <div class="filter-item">Religija</div>
        <div class="filter-item">Fikcija</div>
        <div class="filter-item">Fitnes</div>
        <div class="filter-item">Self improvement</div>
    </div>

    <div class="filter-section-part">
        <div class="filter-title">Book Format</div>
        <div class="filter-item">Audio</div>
        <div class="active-filter-item filter-item">Paperback</div>
        <div class="filter-item">Hardback</div>
        <div class="filter-item">e-Book</div>
    </div>
    <button class="reset-filter-btn empty-btn">Reset filters</button>
</div>

<div class="books-section">
    <!-- <div>paginacija</div> -->
    <div class="book-cards-holder">
        
        <!-- book cards -->
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4746/9781474622578.jpg" alt="test">
            <b class="book-title">The Sapiens, Brief history of people</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/2414/9780241425428.jpg" alt="test">
            <b class="book-title">The Man Who Died Twice</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4746/9781474622578.jpg" alt="test">
            <b class="book-title">The Sapiens, Brief history of people</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/2414/9780241425428.jpg" alt="test">
            <b class="book-title">The Man Who Died Twice</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4746/9781474622578.jpg" alt="test">
            <b class="book-title">The Sapiens, Brief history of people</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/2414/9780241425428.jpg" alt="test">
            <b class="book-title">The Man Who Died Twice</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <div class="book-card">
            <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4071/9781407134611.jpg" alt="test">
            <b class="book-title">The Queen's Gambit</b>
            <div>Tomislav Jansky</div>
            <div class="start-container">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star-half-alt"></i>
                <i class="star far fa-star"></i>
            </div>
            <div class="book-price">$8,84</div>
            <button class="add-basket-btn blue-btn">Add to basket</button>
        </div>
        <!-- end book cards -->

    </div>
    <div class="pagination-bottom">
        <div>
            <span class="pag-box"><i class="pag-icon fas fa-angle-double-left"></i></span>
            <span class="pag-box">1</span>
            <span class="active-box pag-box">2</span>
            <span class="pag-box">3</span>
            <span class="pag-box">4</span>
            <span class="pag-box">5</span>
            <span class="pag-box"><i class="pag-icon fas fa-angle-double-right"></i></span>
        </div>
    </div>
</div>