<div *ngIf="pagination">

    <app-book-pagination 
        (newSquareClicked)="onPaginationClick($event)" 
        [currentPage]="pagination.currentPage" 
        [totalCount]="pagination.totalPages" 
        [pageSize]="pagination.pageSize">
    </app-book-pagination>
</div> <br>

<button (click)="getBooks()" type="button">Get Books</button>

<div class="shop-container">

    <!-- filters content -->
    <div class="filter-container">
        <div>
            <b>Formats</b>
            <div *ngFor="let format of formats">
                <div (click)="onFormatSelected(format.id)">
                    {{format.displayName}}
                </div>
            </div>
        </div>
        <br> <hr> <br>
        <div>
            <b>Categories</b>
            <div *ngFor="let category of categories">
                <div (click)="onCategorySelected(category.id)">
                    {{category.displayName}}
                </div>
            </div>
        </div>
        <br> <hr> <br>
        <div>
            <b>Top Authors</b>
            <div *ngFor="let author of topAuthors">
                <div (click)="onTopAuthorSelected(author.id)">
                    {{author.displayName}}
                </div>
            </div>
        </div>
    </div>
    <!-- end of filters content -->
    
    <!-- main content -->
    <div class="book-cards-container">
        <div *ngFor="let book of books">
            <app-book-card [book]="book"></app-book-card>
        </div>
    </div>
    <!-- end of main content -->
    
</div>
