
<div class="filters-section">
    <div class="filter-section-part">
        <div class="filter-title">Popular Authors</div>
        <div class="filter-item" [ngClass]="{'active-filter-item': author.id === bookParams.authorId}" (click)="onTopAuthorSelected(author.id)" *ngFor="let author of topAuthors">
            {{author.displayName}}
        </div>
    </div>

    <div class="filter-section-part">
        <div class="filter-title">Categories</div>
        <div class="filter-item" [ngClass]="{'active-filter-item': category.id === bookParams.categoryId}" (click)="onCategorySelected(category.id)" *ngFor="let category of categories">
            {{category.displayName}}
        </div>
    </div>

    <div class="filter-section-part">
        <div class="filter-title">Book Format</div>
        <div class="filter-item" [ngClass]="{'active-filter-item': format.id === bookParams.formatId}" (click)="onFormatSelected(format.id)" *ngFor="let format of formats">
            {{format.displayName}}
        </div>
    </div>
    <button (click)="onFilterReset()" type="button" class="reset-filter-btn empty-btn">Reset filters</button>
</div>

<div class="books-section">
    <div class="book-cards-holder">
        
        <!-- book cards -->
        <app-book-card *ngFor="let book of books" [book]="book"></app-book-card>
        <!-- end book cards -->

    </div>
    <div class="pagination-bottom">
        <app-book-pagination *ngIf="pagination?.totalPages > 1"
            (newSquareClicked)="onPaginationClick($event)" 
            [currentPage]="pagination.currentPage" 
            [totalCount]="pagination.totalPages" 
            [pageSize]="pagination.pageSize">
        </app-book-pagination>
    </div>
</div>