.shop-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.filter-container{
    min-width: 150px;
    height: 430px;
    background-color: white;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-left: 25px;
    border: 3px solid #ddd;
}

.filter-section{
    margin: 15px;
    border-bottom: 1px solid #ddd;
}

.filter-section div{
    margin: 4px;
}


.filter-section div div{
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 6px;
}

.filter-title{
    font-size: 21px;
    font-weight:600;
    color: rgb(68, 66, 66);
    /* border-bottom: 1px solid #ddd; */
}

.reset-filter{
    width: 50%;
    margin-left: auto;
    margin-right: 16px;
}



.book-cards-container{
    max-width: 1100px;
    min-height: 400px;
    background-color: white;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 15px;
}

.wrraper-cards{
    max-width: 1100px;
    min-width: 70%;
    background-color: white;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 25px;
    margin-left: 25px;
}


@media (max-width: 1000px) {
    .shop-container{
        flex-wrap: wrap;
    }

    .filter-container{
        flex-direction: row;
        min-width: 89%;
        justify-content: space-evenly;
        height: auto;
        flex-wrap: wrap;
    }

    .wrraper-cards{
        min-width: 89%;
    }
    .wrraper-cards div{
        margin-left: 0;
        margin-right: 0;
    }
    .reset-filter{
        width: 65%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .filter-section{
        border-bottom: none;
    }
}  

@media (min-width: 1580px) {
    .wrraper-cards{
        min-width: 1100px;
    }
}



.active-filter{
    /* background-color: #10bbd5; */
    color: #ff0072;
    font-weight: bold;
}
/* class="active-filter" */